body{
    font-family: "Parkinsans", sans-serif;
    background: green;
    color: aqua;
    margin: 0px;
    margin-bottom: 100px;
}
.chamada{
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
header{
font-size: 40px;
color: red;
border-bottom: 3px solid rgb(233, 32, 66);
padding: 20px;
}